In [1]:
import random
import sys
import os

In [2]:
%pwd

'/Users/simonbaier/github/simonbaier/sandbox'

In [7]:
# lists
ls = ['a','b','c','d']

In [8]:
ls[2]

'c'

In [9]:
ls[1]

'b'

In [11]:
ls.append('e')
ls

['a', 'b', 'c', 'd', 'e', 'e']

In [12]:
del ls[4]

In [13]:
ls

['a', 'b', 'c', 'd', 'e']

In [15]:
ls2 = [['apple','banana','coconut'],['xman','yeti','zoro']]
ls2

[['apple', 'banana', 'coconut'], ['xman', 'yeti', 'zoro']]

In [16]:
ls2[1][2]

'zoro'

In [17]:
ls2[1][2][0]

'z'

In [20]:
ls3 = [(1,2,3),(55,66,77),('alpha','beta','gamma')]
ls3[2]
ls3[2][1]
ls3[2][1][2]

('alpha', 'beta', 'gamma')

'beta'

't'

In [21]:
ls3[0]+ls3[1]

(1, 2, 3, 55, 66, 77)

In [24]:
ls3[0] * ls3[1]

TypeError: can't multiply sequence by non-int of type 'tuple'

In [25]:
ls4 = [[1,2,3],[12,24,30]] 
ls4[0]

[1, 2, 3]

In [27]:
ls4[1] * ls4[2]

IndexError: list index out of range

In [28]:
type(ls4[0])

list

## dictionaries

In [31]:
dict1 = {'Name':'Simon','Title':'super villian','Phone':'646-574-0812'}
dict1

{'Name': 'Simon', 'Title': 'super villian', 'Phone': '646-574-0812'}

In [33]:
dict1['Title']

'super villian'

In [34]:
dict1['Phone']

'646-574-0812'

In [35]:
del dict1['Phone']

In [36]:
dict1

{'Name': 'Simon', 'Title': 'super villian'}

In [40]:
dict1.keys()

dict_keys(['Name', 'Title'])

## for loop

In [46]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

## while loop

In [11]:
random_num = random.randrange(0,20)

In [12]:
while (random_num != 15):
    print(random_num)
    random_num = random.randrange(0,20)

2
5
16
2
0
19
3
13
9
18
2
10
9
12
16
1
10
0
11
19
19
8
11
16
9
13
14
7
19
13
7
3
13
2
8

In [16]:
a = 5
a *= 4
a

20

## function

In [17]:
def addNumber(a,b):
    sumNum = a + b
    return sumNum

addNumber(4,3)

7

## passing variables to string

see https://matthew-brett.github.io/teaching/string_formatting.html#option-3-old-school-formatting

In [31]:
print('%c is my %s number and %d is %.5f' % ('X','favorite',4, 3.14))
# %c    character
# %s    string
# %d    intiger
# %.5f  floating point - five decimal places

X is my favorite number and 4 is 3.14000